# Tauri
src-tauri/target/
src-tauri/gen/

# Android
android/app/build/
android/app/iromashka-release.jks
android/.gradle/
android/.idea/
android/local.properties

# IDE
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
